.idea
target
*.class
*.iml
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.m2e.core.prefs
freenas-cli/.classpath
freenas-cli/.settings/org.eclipse.core.resources.prefs
freenas-cli/.settings/org.eclipse.jdt.apt.core.prefs
freenas-cli/.settings/org.eclipse.jdt.core.prefs
freenas-cli/.settings/org.eclipse.m2e.core.prefs
freenas-client/.classpath
freenas-client/.settings/org.eclipse.core.resources.prefs
freenas-client/.settings/org.eclipse.jdt.apt.core.prefs
freenas-client/.settings/org.eclipse.jdt.core.prefs
freenas-client/.settings/org.eclipse.m2e.core.prefs
freenas-entities/.settings/org.eclipse.core.resources.prefs
freenas-entities/.settings/org.eclipse.jdt.apt.core.prefs
freenas-entities/.settings/org.eclipse.jdt.core.prefs
freenas-entities/.settings/org.eclipse.m2e.core.prefs
freenas-entities/.classpath
